@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&: is(.dark *));

/*
  gray    -> slate
  accent  -> indigo
  error   -> red
  success -> green
  info    -> sky
  warning -> amber
*/

@theme {
  --blur-*: initial;
  --color-*: initial;
  --drop-shadow-*: initial;
  --inset-shadow-*: initial;
  --leading-*: initial;
  --radius-*: initial;
  --shadow-*: initial;
  --text-*: initial;
  --text-shadow-*: initial;
  --tracking-*: initial;
}

:root {
  --radius: 0.5rem;

  /* Typography */
  --font-sans: "Inter", sans-serif;
  --text-large-title: 2.125rem;
  --text-large-title--line-height: 2.5625rem;
  --text-large-title--letter-spacing: 0.012em;
  --text-title-1: 1.75rem;
  --text-title-1--line-height: 2.125rem;
  --text-title-1--letter-spacing: 0.014em;
  --text-title-2: 1.375rem;
  --text-title-2--line-height: 1.75rem;
  --text-title-2--letter-spacing: -0.012em;
  --text-title-3: 1.25rem;
  --text-title-3--line-height: 1.5625rem;
  --text-title-3--letter-spacing: -0.023em;
  --text-body: 1.0625rem;
  --text-body--line-height: 1.375rem;
  --text-body--letter-spacing: -0.026em;
  --text-callout: 1rem;
  --text-callout--line-height: 1.3125rem;
  --text-callout--letter-spacing: -0.02em;
  --text-subheadline: 0.9375rem;
  --text-subheadline--line-height: 1.25rem;
  --text-subheadline--letter-spacing: -0.016em;
  --text-footnote: 0.8125rem;
  --text-footnote--line-height: 1.125rem;
  --text-footnote--letter-spacing: -0.006em;
  --text-caption-1: 0.75rem;
  --text-caption-1--line-height: 1rem;
  --text-caption-1--letter-spacing: 0em;
  --text-caption-2: 0.6875rem;
  --text-caption-2--line-height: 0.8125rem;
  --text-caption-2--letter-spacing: 0.006em;

  /* Accent */
  --accent-1: #fdfdfe;
  --accent-2: #f7f9ff;
  --accent-3: #edf2fe;
  --accent-4: #e1e9ff;
  --accent-5: #d2deff;
  --accent-6: #c1d0ff;
  --accent-7: #abbdf9;
  --accent-8: #8da4ef;
  --accent-9: #3e63dd;
  --accent-10: #3358d4;
  --accent-11: #3a5bc7;
  --accent-12: #1f2d5c;

  /* Accent Alpha */
  --accent-a1: #00008002;
  --accent-a2: #0040ff08;
  --accent-a3: #0047f112;
  --accent-a4: #0044ff1e;
  --accent-a5: #0044ff2d;
  --accent-a6: #003eff3e;
  --accent-a7: #0037ed54;
  --accent-a8: #0034dc72;
  --accent-a9: #0031d2c1;
  --accent-a10: #002ec9cc;
  --accent-a11: #002bb7c5;
  --accent-a12: #001046e0;

  /* Gray */
  --gray-1: #fcfcfd;
  --gray-2: #f9f9fb;
  --gray-3: #f0f0f3;
  --gray-4: #e8e8ec;
  --gray-5: #e0e1e6;
  --gray-6: #d9d9e0;
  --gray-7: #cdced6;
  --gray-8: #b9bbc6;
  --gray-9: #8b8d98;
  --gray-10: #80838d;
  --gray-11: #60646c;
  --gray-12: #1c2024;

  /* Gray Alpha */
  --gray-a1: #00005503;
  --gray-a2: #00005506;
  --gray-a3: #0000330f;
  --gray-a4: #00002d17;
  --gray-a5: #0009321f;
  --gray-a6: #00002f26;
  --gray-a7: #00062e32;
  --gray-a8: #00083046;
  --gray-a9: #00051d74;
  --gray-a10: #00071b7f;
  --gray-a11: #0007149f;
  --gray-a12: #000509e3;

  /* Error */
  --error-1: #fffcfc;
  --error-2: #fff7f7;
  --error-3: #feebec;
  --error-4: #ffdbdc;
  --error-5: #ffcdce;
  --error-6: #fdbdbe;
  --error-7: #f4a9aa;
  --error-8: #eb8e90;
  --error-9: #e5484d;
  --error-10: #dc3e42;
  --error-11: #ce2c31;
  --error-12: #641723;

  /* Error Alpha */
  --error-a1: #ff000003;
  --error-a2: #ff000008;
  --error-a3: #f3000d14;
  --error-a4: #ff000824;
  --error-a5: #ff000632;
  --error-a6: #f8000442;
  --error-a7: #df000356;
  --error-a8: #d2000571;
  --error-a9: #db0007b7;
  --error-a10: #d10005c1;
  --error-a11: #c40006d3;
  --error-a12: #55000de8;

  /* Success */
  --success-1: #fbfefc;
  --success-2: #f4fbf6;
  --success-3: #e6f6eb;
  --success-4: #d6f1df;
  --success-5: #c4e8d1;
  --success-6: #adddc0;
  --success-7: #8eceaa;
  --success-8: #5bb98b;
  --success-9: #30a46c;
  --success-10: #2b9a66;
  --success-11: #218358;
  --success-12: #193b2d;

  /* Success Alpha */
  --success-a1: #00c04004;
  --success-a2: #00a32f0b;
  --success-a3: #00a43319;
  --success-a4: #00a83829;
  --success-a5: #019c393b;
  --success-a6: #00963c52;
  --success-a7: #00914071;
  --success-a8: #00924ba4;
  --success-a9: #008f4acf;
  --success-a10: #008647d4;
  --success-a11: #00713fde;
  --success-a12: #002616e6;

  /* Info */
  --info-1: #f9feff;
  --info-2: #f1fafd;
  --info-3: #e1f6fd;
  --info-4: #d1f0fa;
  --info-5: #bee7f5;
  --info-6: #a9daed;
  --info-7: #8dcae3;
  --info-8: #60b3d7;
  --info-9: #7ce2fe;
  --info-10: #74daf8;
  --info-11: #00749e;
  --info-12: #1d3e56;

  /* Info Alpha */
  --info-a1: #00d5ff06;
  --info-a2: #00a4db0e;
  --info-a3: #00b3ee1e;
  --info-a4: #00ace42e;
  --info-a5: #00a1d841;
  --info-a6: #0092ca56;
  --info-a7: #0089c172;
  --info-a8: #0085bf9f;
  --info-a9: #00c7fe83;
  --info-a10: #00bcf38b;
  --info-a11: #00749e;
  --info-a12: #002540e2;
}

.dark {
  /* Accent */
  --accent-1: #11131f;
  --accent-2: #141726;
  --accent-3: #182449;
  --accent-4: #1d2e62;
  --accent-5: #253974;
  --accent-6: #304384;
  --accent-7: #3a4f97;
  --accent-8: #435db1;
  --accent-9: #3e63dd;
  --accent-10: #5472e4;
  --accent-11: #9eb1ff;
  --accent-12: #d6e1ff;

  /* Accent Alpha */
  --accent-a1: #1133ff0f;
  --accent-a2: #3354fa17;
  --accent-a3: #2f62ff3c;
  --accent-a4: #3566ff57;
  --accent-a5: #4171fd6b;
  --accent-a6: #5178fd7c;
  --accent-a7: #5a7fff90;
  --accent-a8: #5b81feac;
  --accent-a9: #4671ffdb;
  --accent-a10: #5c7efee3;
  --accent-a11: #9eb1ff;
  --accent-a12: #d6e1ff;

  /* Gray */
  --gray-1: #111113;
  --gray-2: #18191b;
  --gray-3: #212225;
  --gray-4: #272a2d;
  --gray-5: #2e3135;
  --gray-6: #363a3f;
  --gray-7: #43484e;
  --gray-8: #5a6169;
  --gray-9: #696e77;
  --gray-10: #777b84;
  --gray-11: #b0b4ba;
  --gray-12: #edeef0;

  /* Gray Alpha */
  --gray-a1: #00000000;
  --gray-a2: #d8f4f609;
  --gray-a3: #ddeaf814;
  --gray-a4: #d3edf81d;
  --gray-a5: #d9edfe25;
  --gray-a6: #d6ebfd30;
  --gray-a7: #d9edff40;
  --gray-a8: #d9edff5d;
  --gray-a9: #dfebfd6d;
  --gray-a10: #e5edfd7b;
  --gray-a11: #f1f7feb5;
  --gray-a12: #fcfdffef;

  /* Error */
  --error-1: #191111;
  --error-2: #201314;
  --error-3: #3b1219;
  --error-4: #500f1c;
  --error-5: #611623;
  --error-6: #72232d;
  --error-7: #8c333a;
  --error-8: #b54548;
  --error-9: #e5484d;
  --error-10: #ec5d5e;
  --error-11: #ff9592;
  --error-12: #ffd1d9;

  /* Error Alpha */
  --error-a1: #f4121209;
  --error-a2: #f22f3e11;
  --error-a3: #ff173f2d;
  --error-a4: #fe0a3b44;
  --error-a5: #ff204756;
  --error-a6: #ff3e5668;
  --error-a7: #ff536184;
  --error-a8: #ff5d61b0;
  --error-a9: #fe4e54e4;
  --error-a10: #ff6465eb;
  --error-a11: #ff9592;
  --error-a12: #ffd1d9;

  /* Success */
  --success-1: #0e1512;
  --success-2: #121b17;
  --success-3: #132d21;
  --success-4: #113b29;
  --success-5: #174933;
  --success-6: #20573e;
  --success-7: #28684a;
  --success-8: #2f7c57;
  --success-9: #30a46c;
  --success-10: #33b074;
  --success-11: #3dd68c;
  --success-12: #b1f1cb;

  /* Success Alpha */
  --success-a1: #00de4505;
  --success-a2: #29f99d0b;
  --success-a3: #22ff991e;
  --success-a4: #11ff992d;
  --success-a5: #2bffa23c;
  --success-a6: #44ffaa4b;
  --success-a7: #50fdac5e;
  --success-a8: #54ffad73;
  --success-a9: #44ffa49e;
  --success-a10: #43fea4ab;
  --success-a11: #46fea5d4;
  --success-a12: #bbffd7f0;

  /* Info */
  --info-a1: #0044ff0f;
  --info-a2: #1171fb18;
  --info-a3: #1184fc33;
  --info-a4: #128fff49;
  --info-a5: #1c9dfd5d;
  --info-a6: #28a5ff72;
  --info-a7: #2badfe8b;
  --info-a8: #1db2fea9;
  --info-a9: #7ce3fffe;
  --info-a10: #a8eeff;
  --info-a11: #7cd3ffef;
  --info-a12: #c2f3ff;

  /* Info Alpha */
  --info-a1: #0044ff0f;
  --info-a2: #1171fb18;
  --info-a3: #1184fc33;
  --info-a4: #128fff49;
  --info-a5: #1c9dfd5d;
  --info-a6: #28a5ff72;
  --info-a7: #2badfe8b;
  --info-a8: #1db2fea9;
  --info-a9: #7ce3fffe;
  --info-a10: #a8eeff;
  --info-a11: #7cd3ffef;
  --info-a12: #c2f3ff;
}

@theme inline {
  --radius-md: var(--radius);

  /* System-focused */
  --color-background: var(--gray-1);
  --color-foreground: var(--gray-12);
  --color-input: var(--gray-3);
  --color-border: var(--gray-4);
  --color-ring: var(--gray-5);
  --color-hover: var(--gray-a2);
  --color-selected: var(--gray-a3);

  /* Accent */
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);
  --color-accent-5: var(--accent-5);
  --color-accent-6: var(--accent-6);
  --color-accent-7: var(--accent-7);
  --color-accent-8: var(--accent-8);
  --color-accent-9: var(--accent-9);
  --color-accent-10: var(--accent-10);
  --color-accent-11: var(--accent-11);
  --color-accent-12: var(--accent-12);

  /* Accent Alpha */
  --color-accent-a1: var(--accent-a1);
  --color-accent-a2: var(--accent-a2);
  --color-accent-a3: var(--accent-a3);
  --color-accent-a4: var(--accent-a4);
  --color-accent-a5: var(--accent-a5);
  --color-accent-a6: var(--accent-a6);
  --color-accent-a7: var(--accent-a7);
  --color-accent-a8: var(--accent-a8);
  --color-accent-a9: var(--accent-a9);
  --color-accent-a10: var(--accent-a10);
  --color-accent-a11: var(--accent-a11);
  --color-accent-a12: var(--accent-a12);

  /* Gray */
  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-5: var(--gray-5);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);
  --color-gray-8: var(--gray-8);
  --color-gray-9: var(--gray-9);
  --color-gray-10: var(--gray-10);
  --color-gray-11: var(--gray-11);
  --color-gray-12: var(--gray-12);

  /* Gray Alpha */
  --color-gray-a1: var(--gray-a1);
  --color-gray-a2: var(--gray-a2);
  --color-gray-a3: var(--gray-a3);
  --color-gray-a4: var(--gray-a4);
  --color-gray-a5: var(--gray-a5);
  --color-gray-a6: var(--gray-a6);
  --color-gray-a7: var(--gray-a7);
  --color-gray-a8: var(--gray-a8);
  --color-gray-a9: var(--gray-a9);
  --color-gray-a10: var(--gray-a10);
  --color-gray-a11: var(--gray-a11);
  --color-gray-a12: var(--gray-a12);

  /* Error */
  --color-error-1: var(--error-1);
  --color-error-2: var(--error-2);
  --color-error-3: var(--error-3);
  --color-error-4: var(--error-4);
  --color-error-5: var(--error-5);
  --color-error-6: var(--error-6);
  --color-error-7: var(--error-7);
  --color-error-8: var(--error-8);
  --color-error-9: var(--error-9);
  --color-error-10: var(--error-10);
  --color-error-11: var(--error-11);
  --color-error-12: var(--error-12);

  /* Error Alpha */
  --color-error-a1: var(--error-a1);
  --color-error-a2: var(--error-a2);
  --color-error-a3: var(--error-a3);
  --color-error-a4: var(--error-a4);
  --color-error-a5: var(--error-a5);
  --color-error-a6: var(--error-a6);
  --color-error-a7: var(--error-a7);
  --color-error-a8: var(--error-a8);
  --color-error-a9: var(--error-a9);
  --color-error-a10: var(--error-a10);
  --color-error-a11: var(--error-a11);
  --color-error-a12: var(--error-a12);

  /* Success */
  --color-success-1: var(--success-1);
  --color-success-2: var(--success-2);
  --color-success-3: var(--success-3);
  --color-success-4: var(--success-4);
  --color-success-5: var(--success-5);
  --color-success-6: var(--success-6);
  --color-success-7: var(--success-7);
  --color-success-8: var(--success-8);
  --color-success-9: var(--success-9);
  --color-success-10: var(--success-10);
  --color-success-11: var(--success-11);
  --color-success-12: var(--success-12);

  /* Success Alpha */
  --color-success-a1: var(--success-a1);
  --color-success-a2: var(--success-a2);
  --color-success-a3: var(--success-a3);
  --color-success-a4: var(--success-a4);
  --color-success-a5: var(--success-a5);
  --color-success-a6: var(--success-a6);
  --color-success-a7: var(--success-a7);
  --color-success-a8: var(--success-a8);
  --color-success-a9: var(--success-a9);
  --color-success-a10: var(--success-a10);
  --color-success-a11: var(--success-a11);
  --color-success-a12: var(--success-a12);

  /* Info */
  --color-info-1: var(--info-1);
  --color-info-2: var(--info-2);
  --color-info-3: var(--info-3);
  --color-info-4: var(--info-4);
  --color-info-5: var(--info-5);
  --color-info-6: var(--info-6);
  --color-info-7: var(--info-7);
  --color-info-8: var(--info-8);
  --color-info-9: var(--info-9);
  --color-info-10: var(--info-10);
  --color-info-11: var(--info-11);
  --color-info-12: var(--info-12);

  /* Info Alpha */
  --color-info-a1: var(--info-a1);
  --color-info-a2: var(--info-a2);
  --color-info-a3: var(--info-a3);
  --color-info-a4: var(--info-a4);
  --color-info-a5: var(--info-a5);
  --color-info-a6: var(--info-a6);
  --color-info-a7: var(--info-a7);
  --color-info-a8: var(--info-a8);
  --color-info-a9: var(--info-a9);
  --color-info-a10: var(--info-a10);
  --color-info-a11: var(--info-a11);
  --color-info-a12: var(--info-a12);
}

@layer base {
  * {
    @apply border-border ring-ring outline-ring/50;
  }

  html,
  body,
  #__vue {
    @apply h-full;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground text-body antialiased;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }
}
