:root {
  --accent-1: #fdfdfe;
  --accent-2: #f7f9ff;
  --accent-3: #edf2fe;
  --accent-4: #e1e9ff;
  --accent-5: #d2deff;
  --accent-6: #c1d0ff;
  --accent-7: #abbdf9;
  --accent-8: #8da4ef;
  --accent-9: #3e63dd;
  --accent-10: #3358d4;
  --accent-11: #3a5bc7;
  --accent-12: #1f2d5c;

  --accent-a1: #00008002;
  --accent-a2: #0040ff08;
  --accent-a3: #0047f112;
  --accent-a4: #0044ff1e;
  --accent-a5: #0044ff2d;
  --accent-a6: #003eff3e;
  --accent-a7: #0037ed54;
  --accent-a8: #0034dc72;
  --accent-a9: #0031d2c1;
  --accent-a10: #002ec9cc;
  --accent-a11: #002bb7c5;
  --accent-a12: #001046e0;
}

.dark {
  --accent-1: #11131f;
  --accent-2: #141726;
  --accent-3: #182449;
  --accent-4: #1d2e62;
  --accent-5: #253974;
  --accent-6: #304384;
  --accent-7: #3a4f97;
  --accent-8: #435db1;
  --accent-9: #3e63dd;
  --accent-10: #5472e4;
  --accent-11: #9eb1ff;
  --accent-12: #d6e1ff;

  --accent-a1: #1133ff0f;
  --accent-a2: #3354fa17;
  --accent-a3: #2f62ff3c;
  --accent-a4: #3566ff57;
  --accent-a5: #4171fd6b;
  --accent-a6: #5178fd7c;
  --accent-a7: #5a7fff90;
  --accent-a8: #5b81feac;
  --accent-a9: #4671ffdb;
  --accent-a10: #5c7efee3;
  --accent-a11: #9eb1ff;
  --accent-a12: #d6e1ff;
}

@theme inline {
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-accent-3: var(--accent-3);
  --color-accent-4: var(--accent-4);
  --color-accent-5: var(--accent-5);
  --color-accent-6: var(--accent-6);
  --color-accent-7: var(--accent-7);
  --color-accent-8: var(--accent-8);
  --color-accent-9: var(--accent-9);
  --color-accent-10: var(--accent-10);
  --color-accent-11: var(--accent-11);
  --color-accent-12: var(--accent-12);

  --color-accent-a1: var(--accent-a1);
  --color-accent-a2: var(--accent-a2);
  --color-accent-a3: var(--accent-a3);
  --color-accent-a4: var(--accent-a4);
  --color-accent-a5: var(--accent-a5);
  --color-accent-a6: var(--accent-a6);
  --color-accent-a7: var(--accent-a7);
  --color-accent-a8: var(--accent-a8);
  --color-accent-a9: var(--accent-a9);
  --color-accent-a10: var(--accent-a10);
  --color-accent-a11: var(--accent-a11);
  --color-accent-a12: var(--accent-a12);
}
